<%- include("partials/header1"); -%>
<!-- navbar ends  -->
<div class="information" style="color: white; margin: 10%;">
    <h1 class="alert text-center">Info will be updated soon ...</h1>
    
</div>

</body>