body{
    background-color: #0e2e5d;
}

.con-title{
    font-family: 'Inter', sans-serif;

}
.con-subtitle{
    font-family: 'Poppins', sans-serif;

}

.con-content{
    font-family: 'Poppins', sans-serif;

}