
    <h1 class="title " id="events" >Our Collaborations</h1>

    <div class="slider collabslider">
        <!-- hii -->

        <div class="slide collabslide">
            <% for(var i=1;i<25;i++){ %>
                <img src="/images/collabs/collab<%=i %>.png" alt="sponsor image">

                <%} %>
        </div>
        <div class="slide slide2">
            <% for(var i=1;i<25;i++){ %>
                <img src="/images/collabs/collab<%=i %>.png" alt="sponsor image">

                <%} %>
        </div>
    </div>

</section>