<div class="wrapsec " >

  
  
  <h1 class="title hidden ">Departments</h1>
  
  <section class="deptcard hidden1" >
      
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">

          <!-- president  -->

          <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>Management</h2>
                <p>
                  The President directs the organization's vision, goals, and tone. They preside over meetings, work with other leaders, and represent the society in the college community. The President makes critical decisions and assures the success of society as a whole.

                </p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/Abhay Singh _ President_.jpg" alt="research head img">
                  </div>
                  <h3 class="headdet">President <br><span> Abhay Singh</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>


            <!-- Vice Presi  -->


          <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>Management</h2>
                <p>
                  The Vice President assists the President and often assumes delegated responsibilities. They help to organise events, coordinate activities, and maintain communication within the society. The Vice President assists to ensure the
                </p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/Aadish Jain_Vice President_.jpg" alt="research head img">
                  </div>
                  <h3 class="headdet"> Vice-President <br><span> Aadish Jain</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>


         <!-- Joint-secretary  -->

         <div class="swiper-slide">
          <div class="deptBox">
            <i class="fa fa-search depticon" aria-hidden="true"></i>
  
            <div class="deptcontent">
              <h2>Management</h2>
              <p>
                The joint secretary assists the general secretary and supports them in their duties. They both help in organizing events, maintaining records, and communicating with members. They work together to ensure the smooth operation of the society.              </p>
           
              <div class="depthead">
                <div class="imgbox">
                  <img src="images/deptheads/DivyamGupta_JointSec.JPG" alt="research head img">
                </div>
                <h3 class="headdet"> Joint-Secretary <br><span> Divyam Gupta </span></h3>
              </div>
           
           
            </div>
          </div>
        </div>







          <!-- General Secretary  -->

          <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>Management</h2>
                <p>
                  The general secretary has a more prominent role and is in charge of overseeing the overall functioning of the society. They handle administrative tasks, coordinate events, and act as a point of contact for members. 
                </p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/Saksham Bharija_General Secretary .jpg" alt="research head img">
                  </div>
                  <h3 class="headdet">General Secretary <br><span> Saksham Bharija</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>

          <!-- ---Marketing manager  -->

          <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>Marketing dept:</h2>
                <p>the Marketing Manager promotes events and activities to keep members engaged. They use numerous channels to raise awareness, design promotional materials, and devise strategies to encourage involvement, resulting in a lively and active society.</p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/Raghav Goel - Marketing Manager_.jpg" alt="research head img">
                  </div> 
                  <h3 class="headdet">Raghav Goel <br><span> Marketing Manager</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>

          <!-- marketing  -->
    
          <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>Marketing dept:</h2>
                <p>As the face of the e-cell, the marketing department represents the e-cell on several occasions.
                  they maintain relationships with other societies and collaborating with media and event partners. they have to sign and renew the mous as per the deliverables of the collaborating parties. they are in charge of promoting the cell's events and web/seminars.</p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/Hansika marketing head.jpg" alt="research head img">
                  </div>
                  <h3 class="headdet">Hansika Jain, Manya Gupta <br><span>Marketing Head</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>

           <!-- ----- IT head --------------------- -->
    
           <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>IT dept:</h2>
                <p> Designed and made the e-cell's official website from scratch. they constantly develop the website for better use
                  they assist the design department in designing various projects. they also assist in creating reels and videos along with the designing and creative department.</p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/saumya jain.jpeg" alt="research head img">
                  </div>
                  <h3 class="headdet">Saumya Jain<br><span>IT Manager</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>IT dept:</h2>
                <p>
                  Creating and designing the E-Cell's official website from scratch. Creating reels and videos along with the designing and creative department. Designing creatives for social media platforms. Designing posters and creating PPTs Contributing to creative ideas.                
                </p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/Aniruddh Puri-IT Head.jpg" alt="research head img">
                  </div>
                  <h3 class="headdet">Aniruddh Puri, Rishi Tayal<br><span>IT Heads</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>


          <!-- --research dept ----- -->
    
          <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>Research dept:</h2>
                <p>the research department is responsible for keeping up with trends and researching new happenings in the business world. they acquire and maintain databases for the national entrepreneurship challenge tasks. they are in charge of analysing the data and drawing conclusions for further planning and betterment of the cell.</p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/Niharika Singh_Research_ manager.jpg" alt="research head img">
                  </div>
                  <h3 class="headdet">Niharika Singh <br><span> Research Manager</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>

          <!-- reasearch heads  -->

          <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>Research dept:</h2>
                <p>Responsible for keeping up with trends and researching new happenings in the business world. they acquire and maintain databases for the national entrepreneurship challenge tasks. they are in charge of analysing the data and drawing conclusions for further planning and betterment of the cell.</p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/Tanishka Gupta - Research Head.jpg" alt="research head img">
                  </div>
                  <h3 class="headdet">Deepika Gupta, Tanishka Gupta <br><span> Research Heads</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>
    
          <!-- editorial  -->
          
          <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>Editorial dept:</h2>
                <p>the editorial department works on all kinds of content related to a corporate. it includes creating content for social media platforms and websites and composing official emails and letters. they also proofread other content.
                  they also assist in hosting and other tasks of the e-cell.</p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/Manisha Gupta _ Editorial Manager_.jpg" alt="research head img">
                  </div>
                  <h3 class="headdet">Manisha Gupta <br><span>Editorial Manager</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>Editorial dept:</h2>
                <p>
                  Crafting compelling content for social media and sites, they specialize in composing polished official emails and letters. Our meticulous proofreading ensures impeccable communication. Additionally, they excel in creating impactful messages and scripts for engaging webinars, enhancing your online presence with precision and professionalism.
                </p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/Apurav Singhal - Editorial Head.jpg" alt="research head img">
                  </div>
                  <h3 class="headdet">Apurav Singhal, Aastha Dubey <br><span>Editorial Heads</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>
    
    
       
    
    
    
          <!-- ---creative head -------------- -->
    
          <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>Creative dept:</h2>
                <p>the creative department comes up with creative ideas for events and activities. their major role is in planning the themes of the events and preparing the decoratives for offline events.
                  they also oversee reels and videos for social media platforms</p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/mehak.jpg" alt="research head img">
                  </div>
                  <h3 class="headdet">Mehak Khurana <br><span> Creative heads</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>
    
    
         
    
     


          <!-- --- HR dept----  -->
    
          <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>HR dept:</h2>
                <p>they establish a proper communication chain in the cell and manage the tasks by clarifying the roles and responsibilities of each department. they handle the students' grievances and resolve inter-departmental conflicts for better operation of the e-cell.</p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/isha_hr.jpg" alt="research head img">
                  </div>
                  <h3 class="headdet">Isha Shakya, Aarjav Jain <br><span>HR Heads</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>


          <!-- --sponsorship dept ---------- -->


    
          <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>Sponsorship dept:</h2>
                <p>The sponsorship is responsible for maintaining funds in cash and kind. they plan funds for events, webinars/seminars. the dept gets in touch with different sponsors to acquire funds as planned.
                  they majorly maintain the deliverables of both the collaborating parties. they also help arrange field visits to industries for enabling better practical exposure.</p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/Garv_sponsorship Head_.jpg" alt="research head img">
                  </div>
                  <h3 class="headdet">Garv, Saksham Sood <br><span>Sponsorship Heads</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>

          

         <!-- event dept  -->
    
         <div class="swiper-slide">
          <div class="deptBox">
            <i class="fa fa-search depticon" aria-hidden="true"></i>
  
            <div class="deptcontent">
              <h2>Event dept:</h2>
              <p>
                The Event Department is the catalyst for vibrant and interactive experiences, shaping our community through seminars, workshops, and diverse activities. Their dedicated team ensures seamless event operations, fostering a culture of innovation and collaboration for an elevated student experience.

              </p>
           
              <div class="depthead">
                <div class="imgbox">
                  <img src="images/deptheads/NAVEEN JAIN EVENT HEAD.jpg" alt="research head img">
                </div>
                <h3 class="headdet">Naveen Jain <br><span>Event Head</span></h3>
              </div>
           
           
            </div>
          </div>
        </div>
  


       
    
    
    
    
          
          
        </div>
        <div class="swiper-pagination"></div>
      </div>
    
    </section>
  

</div>