<div class="container-fluid eventssec wrapsec">
    <h1 class="title " id="events">Events</h1>

    <div class="row">

        <div class="col-md-10 col-12 events mx-auto">




            <!-- biztank  -->

            <div class="box">
                <div class="eventsimgbox">
                    <img src="images/event-img/img1.jpg" alt="" class="eventsimg">
                </div>
                <div class="layer layer1"></div>
                <div class="layer layer2"></div>
                <div class="contentbox">
                    <div>
                        <h2 class="eventtitle">
                            Biztank
                        </h2>
                        <p class="eventdesc">
                            Biztank is a pitching competition offered by Eureka where students got to showcase their business or business ideas through a PowerPoint presentation to a panel of judges who evaluated their presentation innovation and potential for success. It was not just only for the MAIMS student but for all the potential entrepreneurs from different colleges. It was an amazing opportunity to turn their ideas into reality.
                        </p>
                    </div>

                </div>
            </div>


            <!-- mother dairy  -->
            <div class="box">
                <div class="eventsimgbox">
                    <img src="images/event-img/img2.jpg" alt="" class="eventsimg">
                </div>
                <div class="layer layer1"></div>
                <div class="layer layer2"></div>
                <div class="contentbox">
                    <div>
                        <h2 class="eventtitle">
                            MotherDairy
                        </h2>
                        <p class="eventdesc">
                            We conduct seminars to provide opportunities for people to gain knowledge and insights on specific topics from experts and professionals. Recently, we organized a seminar on studying abroad, led by Garima Khandelwal. She shared valuable information about different study programs, application processes, scholarships, and the benefits of studying in a foreign country. It's a great way to learn and experience valuable insights.
                            </p>
                    </div>

                </div>
            </div>


            <!-- pitchathon  -->


            <div class="box">
                <div class="eventsimgbox">
                    <img src="images/event-img/img3.jpg" alt="" class="eventsimg">
                </div>
                <div class="layer layer1"></div>
                <div class="layer layer2"></div>
                <div class="contentbox">
                    <div>
                        <h2 class="eventtitle">
                            Pitch-a-Thon  
                        </h2>
                        <p class="eventdesc">
                            In the Pitch-a-Thon competition, members of the sponsorship department were given a specific product, and their task was to pitch that product to the judges. They had to showcase the unique features, benefits, and value of the product in a persuasive and engaging manner. It was a great opportunity for them to demonstrate their sales and presentation skills.
                         </p>
                    </div>
                </div>
            </div>

            <!-- yakult -->

            <div class="box">
                <div class="eventsimgbox">
                    <img src="images/event-img/img4.jpg" alt="" class="eventsimg">
                </div>
                <div class="layer layer1"></div>
                <div class="layer layer2"></div>
                <div class="contentbox">
                    <div>
                        <h2 class="eventtitle">
                            Yakult Visit
                        </h2>
                        <p class="eventdesc">
                            During our visit to Yakult, we got a behind-the-scenes look at how they make their awesome probiotic drink. We learned about their meticulous manufacturing processes, quality control measures, and the importance of probiotics for our gut health. It was fascinating to see the dedication and care that goes into every bottle. We also got to taste the delicious Yakult and understand its benefits firsthand. It was an insightful and enjoyable experience.

                            </p>
                    </div>
                    
                </div>
            </div>

            <!-- parle  -->

            <div class="box">
                <div class="eventsimgbox">
                    <img src="images/event-img/img5.jpg" alt="" class="eventsimg">
                </div>
                <div class="layer layer1"></div>
                <div class="layer layer2"></div>
                <div class="contentbox">
                    <div>
                        <h2 class="eventtitle">
                            Parle
                        </h2>
                        <p class="eventdesc">
                            During the industrial visit to Parle, we witnessed the production of a wide range of biscuits, from the classic Parle-G to popular favorites like Monaco, Krackjack and Hide & Seek. It was fascinating to see how each biscuit is made with precision and care, using different ingredients and techniques. We also learned about the history and popularity of these iconic Parle biscuits. Overall it was a delicious and informative experience.

                       </p>
                    </div>
                    
                </div>
            </div>


            <!-- seminar -->

            <div class="box">
                <div class="eventsimgbox">
                    <img src="images/event-img/img6.jpg" alt="" class="eventsimg">
                </div>
                <div class="layer layer1"></div>
                <div class="layer layer2"></div>
                <div class="contentbox">
                    <div>
                        <h2 class="eventtitle">
                            Seminars
                        </h2>
                        <p class="eventdesc">
                            We conduct seminars to provide opportunities for people to gain knowledge and insights on specific topics from experts and professionals. Recently, we organized a seminar on studying abroad, led by Garima Khandelwal. She shared valuable information about different study programs, application processes, scholarships, and the benefits of studying in a foreign country. It's a great way to learn and experience valuable insights.
                            </p>
                    </div>
                    
                </div>
            </div>


        </div>

    </div>
</div>