










<!-- footer part starts  -->

<section id="footer">

    <div class="container-fluid footerbox"><div class="row">
    
    <div class="col-md-10 col-12 mx-auto">
      <!-- <div class="flogodiv"><img src="images/logo.png" alt="logo" class="footerlogo"></div> -->
 

      <div class="footercontentbox">
       <div class="flefcont">
        <h3 class="footer_title">Contact Us</h3>
        <p class="adress-f fcontent ">Maharaja Agrasen Institute of Management Studies,<br> Pocket 5, Sector 22, Rohini, Delhi, <br> +91 9811029735<br><a href="mailto:ecell@maims.ac.in" class="telno">ecell@maims.ac.in</a></p>
    

       </div>


       <div class="frightcont"> 


        <h3 class="footer_title">Explore</h3>
        <ul class=" footlink">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#about">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#events">Events</a>
          </li>
        
        
        
        </ul>
        


       </div>

      </div>

   
    
    
    <div class="copyright text-center">copyright © Ecell_maims_2024 , All rights Reserved | Developed with ♥ by <a href="https://www.instagram.com/real2reel_art/?hl=en" class="copya">@real2reel_art</a></div>
    
    </div>
    
    
    </div></div>
    
    
    </section>
    