<section class="sponsors hidden">
    <h1 class="title " id="events" >Our Sponsors</h1>

    <div class="slider">
        <!-- hii -->

        <div class="slide">
            <% for(var i=1;i<23;i++){ %>
                <img src="/images/sponsors/sp<%=i %>.jpg" alt="sponsor image">

                <%} %>
        </div>
        <div class="slide slide2">
            <% for(var i=1;i<23;i++){ %>
                <img src="/images/sponsors/sp<%=i %>.jpg" alt="sponsor image">

                <%} %>
        </div>
    </div>

